<a href="<%= student_path(student) %>" class="list-group-item">
  <blockquote>
    <p><%= student.name %></p>
    <footer>
      Github username: <%= student.github_user %>
    </footer>
  </blockquote>
</a>