<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Course', course_path %></li>
    <li><%= link_to 'Testimonials', testimonials_path %></li>
  </ul>
</nav> 