<div class="page-header">
  <h1>Welcome Admin!</h1>
</div>

<h2>Current courses:</h2>
<div class="list-group">
  <%= render @courses %>
</div>

<h2>Total students count: <%= @mentor.students.count%></h2>