<a href="<%= testimonial_path(testimonial) %>" class="list-group-item testimonial">
  <blockquote>
    <p class="testimonial-feedback"><%= testimonial.feedback %></p>
    <footer class="testimonial-footer">
      <%= testimonial.user_name %>
      <span class="testimonial-time"><%= time_ago_in_words(testimonial.created_at) %> ago</span>
    </footer>
  </blockquote>
</a>