<a href="<%= testimonial_path(testimonial) %>" class="list-group-item">
  <blockquote>
    <p><%= testimonial.feedback %></p>
    <footer>
      <%= testimonial.user_name %>
      <span><%= time_ago_in_words(testimonial.created_at) %> ago</span>
    </footer>
  </blockquote>
</a>